<div class="test"></div>>
<div class="container">

<header>
  	<section>
    	<label for="title">Issue</label>
    	<input type="text"  [(ngModel)]="issue" (keydown)="addIssue($event)" placeholder="add issue" />
  	</section>
</header>

<section>
  	<h2>Issues in progress
    	<span>{{issueList.length}}</span>
  	</h2>
  	<ol class="demo-box">
    	<li *ngFor="let item of issueList; let key = index" >
      		<input type="checkbox" (click)="changeIssue(key,true)">
      		<p>{{item.issue}}</p>
      		<a (click)="deleteIssue(key,true)">-</a>
    	</li>
  	</ol>
  	<h2>Fixed Issues
    	<span>{{doneList.length}}</span>
  	</h2>
  	<ul>
    	<li *ngFor="let item of doneList;let key = index">
      		<input type="checkbox" (click)="changeIssue(key,false)" checked='checked'>
      		<p>{{item.issue}}</p>
      		<a (click)="deleteIssue(key,false)">-</a>
    	</li>
  	</ul>
</section>

</div>

