<div class="test"></div>>
<div class="container">
        <div class="header">
<!--             <input type="text" id="new-issue" class="new-issue-input">
 -->            <input id="add-new" type="submit" value="Add Issue" class="btn btn-primary">
        </div>
        <div class="list" id="issue-list">
            <h2>Issues</h2>
            <h4>
            	<span>Issue 1: description</span>
            	<button class="btn-del">Delete</button>
            	<button class="btn-info">Status</button>
            </h4>
        
            <h4>
            	<span>Issue 2: description</span>
            	<button class="btn-del">Delete</button>
            	<button class="btn-info">Status</button>
            </h4>
        
            <h4>
            	<span>Issue 3: description</span>
            	<button class="btn-del">Delete</button>
            	<button class="btn-info">Status</button>
            </h4>
            <br/>
        </div>
    </div>

