<h1 mat-dialog-title>{{this.dialogTitle}}</h1>
<div mat-dialog-content class="dialog">
  <form class="form" [formGroup]="issueForm" #formDir="ngForm" (ngSubmit)="save()">
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" name="status">
        <mat-option *ngFor="let s of status" [value]="s.value">{{s.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority" name="priority">
        <mat-option *ngFor="let p of priorities" [value]="p.value">{{p.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Assign User</mat-label>
      <mat-select [compareWith]="compareUser" formControlName="assigneduser" name="user">
        <mat-option *ngFor="let user of users" [value]="user">{{user.userName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary">{{buttonTitle}}</button>
    </div>
  </form>
</div>