<div class= "container-fluid">
  <div class = "row">
      <app-new-requirements 
        [newRequirements] = "newRequirements"
        [users]="users">
        </app-new-requirements>
      <app-in-progress-requirements 
        [inProgressRequirements] = 'inProgressRequirements'
        [users]="users">
      </app-in-progress-requirements>
      <app-accepted-requirements 
        [acceptedRequirements] = 'acceptedRequirements'
        [users]="users">
        </app-accepted-requirements>    
  </div>
</div>

