.mat-card {
    width: 100rem;
    background: rgba(255, 255, 255, 0.85);
}
.mat-card-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.container{
    width: 100%;
    display:flex;
    justify-content: center;
    text-align: center;

    &__title {
        width: 80%;
        padding-top: 10px;
    }

    &__description {
        width: 80%;
        padding-top: 10px;
    }

    &__priority {
        width : 80%;
        padding-top: 10px;
    }

    &__status {
        width: 80%;
        padding-top: 10px;
    }

    &__assignedToUser {
        width: 80%;
        padding-top: 10px;
    }

    &__relatedIssue {
        width: 80%;
        padding-top: 10px;
    }

    &__estimatedTime {
        width: 80%;
        padding-top: 10px;
    }

    &__dueDate {
        width: 80%;
        padding-top: 10px;
    }

    &__createdByUser {
        width: 80%;
        padding-top: 10px;
    }

    &__edit-requirement {
        display:flex;
        justify-content: flex-end;
        margin-right:10%;
        margin-top: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


  }
  