<div class="container">
  <h1>Edit Requirement</h1>
  <form (ngSubmit)="onSubmit()" #editRequirementForm="ngForm">
    <div class="form-group">
      <label for="title">Requirement Title</label>
      <input type="text" class="form-control" id="title" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" required>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control" id="status" required>
        <option *ngFor="let stat of status" [value] = "stat">{{stat}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="assignToMember">Assign To Member</label>
      <select class="form-control" id="assignToMember" required>
        <option *ngFor="let member of assignToMember" [value] = "member">{{member}}</option>
      </select>
    </div>
  </form>
  <button type="button" class="btn btn-success" (click)="editRequirement()" routerLink='/requirements'>Edit Requirement</button>
</div>
