
<div class="page-header">
  <div class="container-fluid">
    <h1 id="r">
      REGISTER
    </h1>
  </div>
</div>
<div class="page-content">
  <div class="container-fluid">
    <div class="row" >
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3" id="register">
          <div class="form-group"><label>First Name</label><input [(ngModel)] = "user.firstName" name = "firstName" type = "text" placeholder="First Name" class="form-control"></div>
          <div class="form-group"><label>Last name</label><input [(ngModel)] = "user.lastName" name="lastName" type="text" placeholder="Last Name" class="form-control"></div>
          <div class="form-group"><label>User name</label><input [(ngModel)] = "user.userName" name = "userName" type = "text" placeholder="User name" class="form-control"></div>
          <div class="form-group"><label>Password</label><input [(ngModel)] = "user.password" name="password" type="password" placeholder="password" class="form-control"></div>
          <div class="form-group text-center">
            <button (click) = "registerUser()" type="button"  class="btn btn-accent">Register</button>
          </div>

      </div>
    </div>
  </div>

</div>