<div class="registration-container">
  <mat-card>
      <mat-card-title>Register</mat-card-title>
      <form [formGroup]="registrationForm" #formDir="ngForm"  (ngSubmit)="registerUser()" >
          <mat-form-field class="registration-container__registration-input">
              <input matInput placeholder="Username" formControlName="username" required>
              <mat-error *ngIf="registrationForm.controls.username.invalid && registrationForm.controls.username.errors.required">username is required</mat-error>
              <mat-error *ngIf="registrationForm.controls.username.invalid && registrationForm.controls.username.errors.maxlength">username too long</mat-error>
          </mat-form-field>
          <mat-form-field class="registration-container__registration-input">
              <input matInput placeholder="First Name" formControlName="firstname" required>
              <mat-error *ngIf="registrationForm.controls.firstname.invalid && registrationForm.controls.firstname.errors.required">first name is required</mat-error>
              <mat-error *ngIf="registrationForm.controls.firstname.invalid && registrationForm.controls.firstname.errors.maxlength">first name too long</mat-error>
          </mat-form-field>
          <mat-form-field class="registration-container__registration-input">
              <input matInput placeholder="Last Name" formControlName="lastname" required>
              <mat-error *ngIf="registrationForm.controls.lastname.invalid && registrationForm.controls.lastname.errors.required">last name is required</mat-error>
              <mat-error *ngIf="registrationForm.controls.lastname.invalid && registrationForm.controls.lastname.errors.maxlength">last name too long</mat-error>
          </mat-form-field>
          <mat-form-field class="registration-container__registration-input">
            <input matInput placeholder="Email Address" formControlName="email" required>
            <mat-error *ngIf="registrationForm.controls.email.invalid && registrationForm.controls.email.errors.required">email address is required</mat-error>
            <mat-error *ngIf="registrationForm.controls.email.invalid && registrationForm.controls.email.errors.maxlength">email address is too long</mat-error>
            <mat-error *ngIf="registrationForm.controls.email.invalid && registrationForm.controls.email.errors.email">email address format is invalid</mat-error>
        </mat-form-field>
          <mat-form-field class="registration-container__registration-input">
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <mat-error *ngIf="registrationForm.controls.password.invalid && registrationForm.controls.password.errors.required">password is required</mat-error>
              <mat-error *ngIf="registrationForm.controls.password.invalid && registrationForm.controls.password.errors.maxlength">password too long</mat-error>
          </mat-form-field>
          <mat-form-field class="registration-container__registration-input">
              <input matInput type="password" placeholder="Verify Password" formControlName="verifypassword" required>
              <mat-error *ngIf="registrationForm.controls.verifypassword.invalid && registrationForm.controls.verifypassword.errors.required">password confirmation is required</mat-error>
              <mat-error *ngIf="registrationForm.controls.verifypassword.invalid && registrationForm.controls.verifypassword.errors.mustmatch">passwords do not match</mat-error>
          </mat-form-field>
          <div class="registration-container__registration-button">
              <button mat-raised-button color="primary">Register</button>
          </div>
      </form>
      <div class="registration-container__login-link">
          <span>Already have an account? <a routerLink="/login" routerLinkActive="active">login</a></span>
      </div>
  </mat-card>
</div>