<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
          <div class="inbox_msg">
            <div class="inbox_people">
              <div class="headind_srch">
                <div class="recent_heading">
                  <h4>Recent</h4>
                </div>
                <div class="srch_bar">
                  <div class="stylish-input-group">
                    <input type="text" class="search-bar"  placeholder="Search" >
                   
                    <!-- <button type="button" (click) = "createChatGroup()"class = "btn btn-primary">+</button> -->
                     </div>
                </div>
              </div>
              <div class="inbox_chat">
                <div *ngFor="let eachGroup of groupChats" (click)="changeSelectedGroup(eachGroup)" [ngClass]="{'active_chat': selectedGroup === eachGroup}" class="chat_list">
                  <div class="chat_people">
                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_ib">
                      <h5>{{eachGroup.fullName}} <span class="chat_date">{{eachGroup.createdDate}}</span></h5>
                      <p>Test, this is where the most recent message will appear.</p>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="mesgs">
              <div class="msg_history">
                <ng-container *ngFor="let eachMessage of selectedGroup.messages">
                    <div *ngIf="eachMessage.created_by_user !== user.name; else outgoingMessage" class="incoming_msg">
                      <div class="incoming_msg_img">
                        <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                      </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p>{{eachMessage.message}}</p>
                          <span class="time_date">{{eachMessage.date}}</span>
                        </div>
                      </div>
                    </div>
  
                    <ng-template #outgoingMessage>
                      <div class="outgoing_msg">
                        <div class="sent_msg">
                          <p>{{eachMessage.message}}</p>
                          <span class="time_date">{{eachMessage.date}}</span> 
                        </div>
                      </div>
                    </ng-template>
                </ng-container>
                
              </div>
              <div class="type_msg">
                <div class="input_msg_write">
                  <input type="text" [(ngModel)]="userInput" (keyup.enter)="send_message()" class="write_msg" placeholder="Type a message" />
                  <button  (click) = "send_message()" class="msg_send_btn" type="button">Send</button>
                </div>
              </div>
            </div>
          </div>
          
          
          <!-- <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p> -->
          
        </div></div>
  