* {
    box-sizing: border-box;
}

.container-fluid {
    margin-top: 100px;
    /* color: black;
    box-sizing: border-box;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px; */

}

.row {
    padding: 10px;
}