/* You can add global styles to this file, and also import other style files */
@import "material-theme";

$primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body 
{
    width: 100%;
    height: 100%;
    /* background-color: pink; */
    background-image: url("Watermelon.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    /* background-size: cover; Resize the background image to cover the entire container */
    margin:0;
}


#maintitle
{
    color: white;
    font-size: 50px;
    position: absolute;
    left:15%;
    top:20%;
    z-index: -1;
}


/***********************************************************************************************
**** CUSTOM THEMED SNACKBARS
************************************************************************************************/
.red-snackbar {
    background: #b71c1c;
    color: #FAFAFA;
    font-family: $primary-font;

    .mat-button {
        background-color: #7f0000;
    }
    .mat-button-wrapper {
        color:#FAFAFA;
    }
}

.green-snackbar {
    background: #43a047;
    color: #FAFAFA;
    font-family: $primary-font;

    .mat-button {
        background-color: #00701a;
    }
    .mat-button-wrapper {
        color:#FAFAFA;
    }
}


/***********************************************************************************************
**** CUSTOM FORM FIELD FOR DARK BACKGROUND
************************************************************************************************/
.mat-form-field-dark.mat-form-field-appearance-legacy .mat-form-field-underline,
.mat-form-field-dark.mat-form-field-appearance-legacy .mat-form-field-ripple,
.mat-form-field-dark.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-underline,
.mat-form-field-dark.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-ripple {
	background-color: #9d9d9d;
}

.mat-form-field-dark.mat-form-field-appearance-legacy .mat-form-field-label,
.mat-form-field-dark.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-label {
	color: #9d9d9d;
}


.mat-form-field-dark.mat-form-field-appearance-legacy .mat-input-element {
	caret-color: white;
  color: white;
}